.fitme-test-bar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: initial;
  &.bp-large {
    margin: 0 60px;
  }
}

.mobile {
  .fitme-test-bar {
    z-index: 999;
  }
}
