// NOTE: class summary-list-items has z-index 9
// This must be higher than that, so that opening select 
// options are not hidden behind summary list items.
.fitme-test-bar {
  background-color: #fff;
  display: block;
  position: relative;
  z-index: 10;
  justify-content: space-around;
  align-items: initial;
  &.bp-large {
    margin: 0 60px;
  }
}

.mobile {
  .fitme-test-bar {
    z-index: 999;
    margin: 0 9px 0 1.25em;
  }
}
